<% content_for :navigation do %>
<% end %>

<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th>All</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= Category.spacer * category.depth %><%= category.name %></td>
    <% if category.category_stat %>
    <td><%= number_with_delimiter category.category_stat.active_products %></td>
    <td><%= number_with_delimiter category.category_stat.all_products %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
