<h1><%= @category.name %></h1>

<% if @category.category_stat %>
<table>
  <tr>
    <th>All</th><td><%= @category.category_stat.value['all'] %></td>
  </tr>
  <tr>
    <th>Active</th><td><%= @category.category_stat.value['active'] %></td>
  </tr>
  <tr>
    <th>Avg price</th><td><%= @category.category_stat.value['active_price_avg'] %></td>
  </tr>
  <tr>
    <th>Min price</th><td><%= @category.category_stat.value['min_price'] %></td>
  </tr>
  <tr>
    <th>Max price</th><td><%= @category.category_stat.value['max_price'] %></td>
  </tr>
</table>
<% end %>

<%= render :partial => 'shared/products', :object => @products %>

<%= paginate @products %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
