<% content_for :navigation do %>
  <%= format_tree(@category.tree_by_path.arrange) do |category| %>
    <%= link_to(category.name, category_path(category)) %>
  <% end %>
<% end %>


<h1><%= @category.path %></h1>

<% if @category.category_stat %>
<table>
  <tr>
    <th>All</th><td><%= number_with_delimiter @category.category_stat.all_products %></td>
  </tr>
  <tr>
    <th>Active</th><td><%= number_with_delimiter @category.category_stat.active_products %></td>
  </tr>
  <tr>
    <th>Avg price</th><td><%= number_to_currency @category.category_stat.average_price %></td>
  </tr>
  <tr>
    <th>Min price</th><td><%= number_to_currency @category.category_stat.min_price %></td>
  </tr>
  <tr>
    <th>Max price</th><td><%= number_to_currency @category.category_stat.max_price %></td>
  </tr>
</table>
<% end %>

<%= render :partial => 'shared/products', :object => @products %>

<%= paginate @products %>

<div id="products-archive">
  <%= link_to "Archive", archive_category_path(@category) %>
</div>
