<% content_for :navigation do %>
  <%= format_tree(@product.category.tree_by_path.arrange) do |category| %>
    <%= link_to(category.name, category_path(category)) %>
  <% end %>
<% end %>

<h1><%= @product.name %></h1>

<p>
  <b>Net price:</b>
  <%= number_to_currency @product.net_price %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency @product.price %>
</p>


<p>
  <b>Quantity:</b>
  <%= @product.quantity %>
</p>

<p>
  <b>Status:</b>
  <%= @product.status %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer.name %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category.path %>
</p>
<h2>Description</h2>
<table id="product-description">
  <% @product.description.each do |item| %>
  <tr>
    <th><%= item['name'] %></th>
    <td><%= item['value'] %></td>
  </tr>
  <% end %>
</table>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
